/* DOCUMENT INFORMATION
    -Document page nos jeux
    -version : 1.0.0
    -author : lucie
*/

/* FONTS
    -default : Noto Sans', sans-serif
    -h1 :'Press Start 2P', cursive

/* GLOBAL
===================================*/

html{
    background-color: #fff;
}

h1{
    font-family: 'Press Start 2P', cursive;
}

/* HEADER
===================================*/

header{
    background-image: linear-gradient(rgba(40, 14, 237, 0.37), rgba(12, 211, 247, 0.4)),url(../images/arcade-neon-bleue.jpg);
    background-size: cover;
    background-position: top;
    height: 70vh;
}
.page-title{
    position: absolute;
    top:40%;
    color: #fff;
    text-align: left;
}
#bienvenue{
    font-size: 700%;
}

/* RETOUR
===================================*/
.boutonretour{
    margin-top: 100px;
}
.retour {
    border: 2px #280eed solid;
    background-color: #280eed;
    border-radius: 30px;
    padding: 20px 30px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    left:500px;
    bottom: 10px;
}

.retour:hover{
    color: #fff;
}
.arcade-bouton{
    border: none;
    position: absolute;
    top: 50%;
    left: 40%;
    
}
.bouton-arcade{
    margin-bottom: 100px;
    padding: 50px 0 200px 0;
}


/* GALAGA
===================================*/

.galaga{
    margin-top: 10px;
    background-color: black;
}

.jeugalaga{
    border: none;
   
}