body, html {
  width: 100%;
  height: 100%;
  margin: 50px;
  padding: 0;
}

body {
  background-color: #fff;
}

.arcade-button {
  font-size: 50px;
  margin: 20px 0 0 20px;
  border: none;
  width: 4em;
  height: 3.5em;
  position: relative;
  background-color: #3232c8;
  -moz-border-radius: 50% 50%;
  -webkit-border-radius: 50%;
  border-radius: 50% 50%;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9ImVsbGlwc2UiIGN5PSJjbG9zZXN0LXNpZGUiIHI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMjAlIiBzdG9wLWNvbG9yPSIjNjQ2NGM4IiBzdG9wLW9wYWNpdHk9IjAuMyIvPjxzdG9wIG9mZnNldD0iNzAlIiBzdG9wLWNvbG9yPSIjMzIzMmI0Ii8+PHN0b3Agb2Zmc2V0PSI4OCUiIHN0b3AtY29sb3I9IiM5Njk2ZmEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNDI4OTYiLz48L3JhZGlhbEdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='), url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjIwJSIgcj0iNzAlIj48c3RvcCBvZmZzZXQ9IjIwJSIgc3RvcC1jb2xvcj0iIzAwMDA1MCIvPjxzdG9wIG9mZnNldD0iNjAlIiBzdG9wLWNvbG9yPSIjMDAwMDk2Ii8+PHN0b3Agb2Zmc2V0PSI3MCUiIHN0b3AtY29sb3I9IiMwMDAwZmEiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9yYWRpYWxHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'), url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjgwJSIgcj0iNzAlIj48c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNjAlIiBzdG9wLWNvbG9yPSIjMzIzMmM4IiBzdG9wLW9wYWNpdHk9IjAuOCIvPjxzdG9wIG9mZnNldD0iNzAlIiBzdG9wLWNvbG9yPSIjNjQ2NGZhIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-radial-gradient(ellipse closest-side, rgba(100, 100, 200, 0.3) 20%, #3232b4 70%, #9696fa 88%, #142896), -moz-radial-gradient(50% 20%, 200% 60%, #000050 20%, #000096 60%, rgba(0, 0, 250, 0) 70%), -moz-radial-gradient(50% 80%, 100% 40%, #ffffff 10%, rgba(50, 50, 200, 0.8) 60%, rgba(100, 100, 250, 0) 70%);
  background-image: -webkit-radial-gradient(ellipse closest-side, rgba(100, 100, 200, 0.3) 20%, #3232b4 70%, #9696fa 88%, #142896), -webkit-radial-gradient(50% 20%, 200% 60%, #000050 20%, #000096 60%, rgba(0, 0, 250, 0) 70%), -webkit-radial-gradient(50% 80%, 100% 40%, #ffffff 10%, rgba(50, 50, 200, 0.8) 60%, rgba(100, 100, 250, 0) 70%);
  background-image: radial-gradient(ellipse closest-side, rgba(100, 100, 200, 0.3) 20%, #3232b4 70%, #9696fa 88%, #142896), radial-gradient(200% 60% at 50% 20%, #000050 20%, #000096 60%, rgba(0, 0, 250, 0) 70%), radial-gradient(100% 40% at 50% 80%, #ffffff 10%, rgba(50, 50, 200, 0.8) 60%, rgba(100, 100, 250, 0) 70%);
}
.arcade-button:active {
  top: 0.2em;
}
.arcade-button:active::after {
  display: none;
}
.arcade-button:active::before {
  top: -0.3em;
  bottom: -0.6em;
}
.arcade-button::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: -0em;
  right: 1px;
  bottom: -.2em;
  left: 1px;
  -moz-border-radius: 50% 50% 48% 48%;
  -webkit-border-radius: 50%;
  border-radius: 50% 50% 48% 48%;
  background-color: #323296;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMyMzJiNCIvPjxzdG9wIG9mZnNldD0iMTAlIiBzdG9wLWNvbG9yPSIjM2MzY2I0Ii8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMxNDI4NTAiLz48c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iIzE0Mjg5NiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMyMzJiNCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #3232b4), color-stop(10%, #3c3cb4), color-stop(50%, #142850), color-stop(90%, #142896), color-stop(100%, #3232b4));
  background-image: -moz-linear-gradient(left, #3232b4, #3c3cb4 10%, #142850, #142896 90%, #3232b4);
  background-image: -webkit-linear-gradient(left, #3232b4, #3c3cb4 10%, #142850, #142896 90%, #3232b4);
  background-image: linear-gradient(to right, #3232b4, #3c3cb4 10%, #142850, #142896 90%, #3232b4);
}
.arcade-button::before {
  content: "";
  position: absolute;
  top: -0.1em;
  bottom: -0.8em;
  right: -0.5em;
  left: -0.5em;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #3232c8;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9ImNvdmVyIiBjeT0iIiByPSI1OCUiPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIi8+PHN0b3Agb2Zmc2V0PSI1OCUiIHN0b3AtY29sb3I9IiMzMjMyYzgiLz48L3JhZGlhbEdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -moz-radial-gradient(cover, #000000 50%, #3232c8 58%);
  background-image: -webkit-radial-gradient(cover, #000000 50%, #3232c8 58%);
  background-image: radial-gradient(cover, #000000 50%, #3232c8 58%);
  z-index: -2;
}
